@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.btn-primary {
    color: #fff;
    background-color: #86EE35;
    border-color: #0dfdc1;
}
/* style navbar */
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #86EE35;
}
.navbar-brand{
    font-size: 2.25rem;
}
.navbar-dark .navbar-brand {
    color: #86EE35;
}
/* style hero secrion */
.carousel-caption h5{
    text-transform: uppercase;
}
.carousel-caption p{
    text-decoration: wavy;
}
/* style order section */
.order-section{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#order h1{
    font-size: 2.25rem;
    color: #86EE35;
}
#price{
    color:blue;
}
/* style about us */
#tag{
    font-family: 'Sacramento', cursive;
}
.checked {
    color: blue;
  }
footer{
    color:white;
}